
<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<li class="main-header__item">
    <a   href="/show">show Gallery </a>
  
<!-- start page title -->
 <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Data Articles</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                    <li class="breadcrumb-item active">Articles</li>
                </ol>
            </div>

        </div>
    </div>
</div>
 
<!-- end page title -->

<%- contentFor('body') %>
 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

               

                <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                    <tr>
                        <th>title</th>
                        <th>tag</th>
                        <th>descrption</th>
                        <th>image</th>
                        <th>Actions</th>
                     
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <% for(var i = 0; i < gallerys.length; i++) { %>
                            <tr>
                                <td><%= gallerys[i].title %></td>
                                <td><%= gallerys[i].tag %></td>
                                <td><%= gallerys[i].descrption %></td>
                                <td><%= gallerys[i].image %></td>
                                
                                
                                <td>
                                    <button
                                        class="button editButton  btn btn-primary "
                                        data-title="<%=  gallerys[i].title %>"
                                        data-tag="<%= gallerys[i].tag %>"
                                        data-descrption="<%=  gallerys[i].descrption %>" 
                                        data-image="<%=  gallerys[i].image %>"
                                    >
                                        Edit
                                    </button>
                                    <button  
                                        class="button deleteButton   btn btn-primary"
                                        data-title="<%=  gallerys[i].title %>"
                                        data-tag="<%= gallerys[i].tag %>"
                                        data-descrption="<%=  gallerys[i].descrption %>" 
                                        data-image="<%=  gallerys[i].image %>"
                                    
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </tr>
                    
                   
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="col-md-10">
                    <label for="floatingnameInput">Title</label>
            <input  type="text" name="newtitle" id="newtitle"  class="form-control"  />
         
        </div>
   
        <label for="floatingnameInput">Tag</label>
        <div class="form-floating mb-3">
        <input type="text"  type="text" name="newtag" id="newtag"  class="form-control" /> 

    </div>

               <label for="floatingnameInput">description</label>
    
              <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="newdescrption" placeholder="Description"   name="newdescrption"></textarea>
                <label for="floatingnameInput">Description</label>
            </div>
   <div class="col-md-10">
              <label for="floatingnameInput">image</label>
              <input type="file" name="newimage" id="newimage"   class="form-control"  /></div>

             <button class="btn btn-primary  updateButton "">
                Update
            </button> 
            
            </div>
        </div>
    </div>
       
        
    
    
   
  
<div class="container form">
    <div>Update</div>
        <div class="entry">
          
            <input type="hidden" name="oldtitle" id="oldtitle" readonly="true" />
        </div>
        <div class="entry">
        
            <input type="hidden" name="oldtag" id="oldtag" readonly="true" />
        </div>
        <div class="entry">
          
            <input type="hidden" name="olddescrption" id="olddescrption" readonly="true" />
        </div>
        <div class="entry">
           
            <input type="hidden" name="oldimage" id="oldimage" readonly="true" />
        </div>
        
         
<script src="/public/assets/css/editing.js"></script>
<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>