<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <!-- shaam's team sidebar starts from here -->
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                </li>

                <li>
                    <a href="user-manager" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.user_maneger%></span>
                    </a>
                </li>

                <!-- <li>
                    <a href="categories" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.categories%></span>
                    </a>
                </li> -->


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements"><%=translation.gallery%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="show" key="t-buttons"><%=translation.AddImage%></a></li>
                         
                    </ul>
                </li>






                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements"><%=translation.categories%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="categories" key="t-buttons"><%=translation.All_posts%></a></li>
                        <li><a href="category-details" key="t-alerts"><%=translation.Add_new%></a></li>
                        <li><a href="post-category" key="t-alerts"><%=translation.categories%></a></li>
                    </ul>
                </li>

                <li>
                   <!---- <a href="articles " class="waves-effect">  -->
                        <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.articles%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="addarticles" key="t-form-elements"><%=translation.addarticles%></a></li>
                       
                    </ul>
                </li>
<li>
     <!---- <a href="articles " class="waves-effect">  -->
        <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-chat"></i>
            <span key="t-chat">shammpagesS</span>
        </a>
        <ul>
            <li><a href="aaa" key="t-aaa"><%=translation.aaa%>aaa</a></li> 
        </ul>
</li>
                <li>
                    <a href="design-management" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.design_management%></span>
                    </a>
                </li>

                <li>
                    <a href="app5" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.Menu_item%></span>
                    </a>
                </li>

                <li>
                    <a href="app6" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.Menu_item%></span>
                    </a>
                </li>


                <!-- defaukt theme's sidebar start from here, you can copy from them-->
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge rounded-pill bg-info float-end">04</span>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/" key="t-default"><%=translation.Default%></a></li>
                        <li><a href="dashboard-saas" key="t-saas"><%=translation.Saas%></a></li>
                        <li><a href="dashboard-crypto" key="t-crypto"><%=translation.Crypto%></a></li>
                        <li><a href="dashboard-blog" key="t-blog"><%=translation.Blog%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts"><%=translation.Layouts%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical"><%=translation.Vertical%></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="layouts-light-sidebar" key="t-light-sidebar"><%=translation.Light_Sidebar%></a></li>
                                <li><a href="layouts-compact-sidebar" key="t-compact-sidebar"><%=translation.Compact_Sidebar%></a></li>
                                <li><a href="layouts-icon-sidebar" key="t-icon-sidebar"><%=translation.Icon_Sidebar%></a></li>
                                <li><a href="layouts-boxed" key="t-boxed-width"><%=translation.Boxed_Width%></a></li>
                                <li><a href="layouts-preloader" key="t-preloader"><%=translation.Preloader%></a></li>
                                <li><a href="layouts-colored-sidebar" key="t-colored-sidebar"><%=translation.Colored_Sidebar%></a></li>
                                <li><a href="layouts-scrollable" key="t-scrollable"><%=translation.Scrollable%></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal"><%=translation.Horizontal%></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="layouts-horizontal" key="t-horizontal"><%=translation.Horizontal%></a></li>
                                <li><a href="layouts-h-topbar-light" key="t-topbar-light"><%=translation.Topbar_Light%></a></li>
                                <li><a href="layouts-h-boxed" key="t-boxed-width"><%=translation.Boxed_Width%></a></li>
                                <li><a href="layouts-h-preloader" key="t-preloader"><%=translation.Preloader%></a></li>
                                <li><a href="layouts-h-colored" key="t-colored-topbar"><%=translation.Colored_Topbar%></a></li>
                                <li><a href="layouts-h-scrollable" key="t-scrollable"><%=translation.Scrollable%></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps"><%=translation.Apps%></li>

                <li>
                    <a href="calendar" class="waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar"><%=translation.Calendar%></span>
                    </a>
                </li>

                <li>
                    <a href="chat" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.Chat%></span>
                    </a>
                </li>

                <li>
                    <a href="apps-filemanager" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span class="badge rounded-pill bg-success float-end" key="t-new"><%=translation.New%></span>
                        <span key="t-file-manager"><%=translation.File_Manager%></span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce"><%=translation.Ecommerce%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products" key="t-products"><%=translation.Products%></a></li>
                        <li><a href="ecommerce-product-detail" key="t-product-detail"><%=translation.Product_Detail%></a></li>
                        <li><a href="ecommerce-orders" key="t-orders"><%=translation.Orders%></a></li>
                        <li><a href="ecommerce-customers" key="t-customers"><%=translation.Customers%></a></li>
                        <li><a href="ecommerce-cart" key="t-cart"><%=translation.Cart%></a></li>
                        <li><a href="ecommerce-checkout" key="t-checkout"><%=translation.Checkout%></a></li>
                        <li><a href="ecommerce-shops" key="t-shops"><%=translation.Shops%></a></li>
                        <li><a href="ecommerce-add-product" key="t-add-product"><%=translation.Add_Product%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bitcoin"></i>
                        <span key="t-crypto"><%=translation.Crypto%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="crypto-wallet" key="t-wallet"><%=translation.Wallet%></a></li>
                        <li><a href="crypto-buy-sell" key="t-buy"><%=translation.Buy_Sell%></a></li>
                        <li><a href="crypto-exchange" key="t-exchange"><%=translation.Exchange%></a></li>
                        <li><a href="crypto-lending" key="t-lending"><%=translation.Lending%></a></li>
                        <li><a href="crypto-orders" key="t-orders"><%=translation.Orders%></a></li>
                        <li><a href="crypto-kyc-application" key="t-kyc"><%=translation.KYC_Application%></a></li>
                        <li><a href="crypto-ico-landing" key="t-ico"><%=translation.ICO_Landing%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span key="t-email"><%=translation.Email%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox" key="t-inbox"><%=translation.Inbox%></a></li>
                        <li><a href="email-read" key="t-read-email"><%=translation.Read_Email%></a></li>
                        <li>
                            <a href="javascript: void(0);">
                                <span class="badge rounded-pill badge-soft-success float-end" key="t-new"><%=translation.New%></span>
                                <span key="t-email-templates"><%=translation.Templates%></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="email-template-basic" key="t-basic-action"><%=translation.Basic_Action%></a></li>
                                <li><a href="email-template-alert" key="t-alert-email"><%=translation.Alert_Email%></a></li>
                                <li><a href="email-template-billing" key="t-bill-email"><%=translation.Billing_Email%></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span key="t-invoices"><%=translation.Invoices%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="invoices-list" key="t-invoice-list"><%=translation.Invoice_List%></a></li>
                        <li><a href="invoices-detail" key="t-invoice-detail"><%=translation.Invoice_Detail%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects"><%=translation.Projects%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="projects-grid" key="t-p-grid"><%=translation.Projects_Grid%></a></li>
                        <li><a href="projects-list" key="t-p-list"><%=translation.Projects_List%></a></li>
                        <li><a href="projects-overview" key="t-p-overview"><%=translation.Project_Overview%></a></li>
                        <li><a href="projects-create" key="t-create-new"><%=translation.Create_New%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span key="t-tasks"><%=translation.Tasks%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tasks-list" key="t-task-list"><%=translation.Task_List%></a></li>
                        <li><a href="tasks-kanban" key="t-kanban-board"><%=translation.Kanban_Board%></a></li>
                        <li><a href="tasks-create" key="t-create-task"><%=translation.Create_Task%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts"><%=translation.Contacts%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="contacts-grid" key="t-user-grid"><%=translation.User_Grid%></a></li>
                        <li><a href="contacts-list" key="t-user-list"><%=translation.User_List%></a></li>
                        <li><a href="contacts-profile" key="t-profile"><%=translation.Profile%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge rounded-pill bg-success float-end" key="t-new"><%=translation.New%></span>
                        <i class="bx bx-detail"></i>
                        <span key="t-blog"><%=translation.Blog%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="blog-list" key="t-blog-list"><%=translation.Blog_List%></a></li>
                        <li><a href="blog-grid" key="t-blog-grid"><%=translation.Blog_Grid%></a></li>
                        <li><a href="blog-details" key="t-blog-details"><%=translation.Blog_Details%></a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages"><%=translation.Pages%></li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge rounded-pill bg-success float-end" key="t-new"><%=translation.New%></span>
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication"><%=translation.Authentication%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login" key="t-login"><%=translation.Login%></a></li>
                        <li><a href="auth-login-2" key="t-login-2"><%=translation.Login%> 2</a></li>
                        <li><a href="auth-register" key="t-register"><%=translation.Register%></a></li>
                        <li><a href="auth-register-2" key="t-register-2"><%=translation.Register%> 2</a></li>
                        <li><a href="auth-recoverpw" key="t-recover-password"><%=translation.Recover_Password%></a></li>
                        <li><a href="auth-recoverpw-2" key="t-recover-password-2"><%=translation.Recover_Password%> 2</a></li>
                        <li><a href="auth-lock-screen" key="t-lock-screen"><%=translation.Lock_screen%></a></li>
                        <li><a href="auth-lock-screen-2" key="t-lock-screen-2"><%=translation.Lock_screen%> 2</a></li>
                        <li><a href="auth-confirm-mail" key="t-confirm-mail"><%=translation.Confirm_Mail%></a></li>
                        <li><a href="auth-confirm-mail-2" key="t-confirm-mail-2"><%=translation.Confirm_Mail%> 2</a></li>
                        <li><a href="auth-email-verification" key="t-email-verification"><%=translation.Email_verification%></a></li>
                        <li><a href="auth-email-verification-2" key="t-email-verification-2"><%=translation.Email_verification%> 2</a></li>
                        <li><a href="auth-two-step-verification" key="t-two-step-verification"><%=translation.Two_step_verification%></a></li>
                        <li><a href="auth-two-step-verification-2" key="t-two-step-verification-2"><%=translation.Two_step_verification%> 2</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility"><%=translation.Utility%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter" key="t-starter-page"><%=translation.Starter_Page%></a></li>
                        <li><a href="pages-maintenance" key="t-maintenance"><%=translation.Maintenance%></a></li>
                        <li><a href="pages-comingsoon" key="t-coming-soon"><%=translation.Coming_Soon%></a></li>
                        <li><a href="pages-timeline" key="t-timeline"><%=translation.Timeline%></a></li>
                        <li><a href="pages-faqs" key="t-faqs"><%=translation.FAQs%></a></li>
                        <li><a href="pages-pricing" key="t-pricing"><%=translation.Pricing%></a></li>
                        <li><a href="pages-404" key="t-error-404"><%=translation.Error_404%></a></li>
                        <li><a href="pages-500" key="t-error-500"><%=translation.Error_500%></a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-components"><%=translation.Components%></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements"><%=translation.UI_Elements%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts" key="t-alerts"><%=translation.Alerts%></a></li>
                        <li><a href="ui-buttons" key="t-buttons"><%=translation.Buttons%></a></li>
                        <li><a href="ui-cards" key="t-cards"><%=translation.Cards%></a></li>
                        <li><a href="ui-carousel" key="t-carousel"><%=translation.Carousel%></a></li>
                        <li><a href="ui-dropdowns" key="t-dropdowns"><%=translation.Dropdowns%></a></li>
                        <li><a href="ui-grid" key="t-grid"><%=translation.Grid%></a></li>
                        <li><a href="ui-images" key="t-images"><%=translation.Images%></a></li>
                        <li><a href="ui-lightbox" key="t-lightbox"><%=translation.Lightbox%></a></li>
                        <li><a href="ui-modals" key="t-modals"><%=translation.Modals%></a></li>
                        <li><a href="ui-rangeslider" key="t-range-slider"><%=translation.Range_Slider%></a></li>
                        <li><a href="ui-session-timeout" key="t-session-timeout"><%=translation.Session_Timeout%></a></li>
                        <li><a href="ui-progressbars" key="t-progress-bars"><%=translation.Progress_Bars%></a></li>
                        <li><a href="ui-sweet-alert" key="t-sweet-alert"><%=translation.Sweet_Alert%></a></li>
                        <li><a href="ui-tabs-accordions" key="t-tabs-accordions"><%=translation.Tabs_Accordions%></a></li>
                        <li><a href="ui-typography" key="t-typography"><%=translation.Typography%></a></li>
                        <li><a href="ui-video" key="t-video"><%=translation.Video%></a></li>
                        <li><a href="ui-general" key="t-general"><%=translation.General%></a></li>
                        <li><a href="ui-colors" key="t-colors"><%=translation.Colors%></a></li>
                        <li><a href="ui-rating" key="t-rating"><%=translation.Rating%></a></li>
                        <li><a href="ui-notifications" key="t-notifications"><%=translation.Notifications%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bxs-eraser"></i>
                        <span class="badge rounded-pill bg-danger float-end">10</span>
                        <span key="t-forms"><%=translation.Forms%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="form-elements" key="t-form-elements"><%=translation.Form_Elements%></a></li>
                        <li><a href="form-layouts" key="t-form-layouts"><%=translation.Form_Layouts%></a></li>
                        <li><a href="form-validation" key="t-form-validation"><%=translation.Form_Validation%></a></li>
                        <li><a href="form-advanced" key="t-form-advanced"><%=translation.Form_Advanced%></a></li>
                        <li><a href="form-editors" key="t-form-editors"><%=translation.Form_Editors%></a></li>
                        <li><a href="form-uploads" key="t-form-upload"><%=translation.Form_File_Upload%></a></li>
                        <li><a href="form-xeditable" key="t-form-xeditable"><%=translation.Form_Xeditable%></a></li>
                        <li><a href="form-repeater" key="t-form-repeater"><%=translation.Form_Repeater%></a></li>
                        <li><a href="form-wizard" key="t-form-wizard"><%=translation.Form_Wizard%></a></li>
                        <li><a href="form-mask" key="t-form-mask"><%=translation.Form_Mask%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span key="t-tables"><%=translation.Tables%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic" key="t-basic-tables"><%=translation.Basic_Tables%></a></li>
                        <li><a href="tables-datatable" key="t-data-tables"><%=translation.Data_Tables%></a></li>
                        <li><a href="tables-responsive" key="t-responsive-table"><%=translation.Responsive_Table%></a></li>
                        <li><a href="tables-editable" key="t-editable-table"><%=translation.Editable_Table%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-bar-chart-alt-2"></i>
                        <span key="t-charts"><%=translation.Charts%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-apex" key="t-apex-charts"><%=translation.Apex_Charts%></a></li>
                        <li><a href="charts-echart" key="t-e-charts"><%=translation.E_Charts%></a></li>
                        <li><a href="charts-chartjs" key="t-chartjs-charts"><%=translation.Chartjs_Charts%></a></li>
                        <li><a href="charts-flot" key="t-flot-charts"><%=translation.Flot_Charts%></a></li>
                        <li><a href="charts-tui" key="t-ui-charts"><%=translation.Toast_UI_Charts%></a></li>
                        <li><a href="charts-knob" key="t-knob-charts"><%=translation.Jquery_Knob_Charts%></a></li>
                        <li><a href="charts-sparkline" key="t-sparkline-charts"><%=translation.Sparkline_Charts%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-aperture"></i>
                        <span key="t-icons"><%=translation.Icons%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-boxicons" key="t-boxicons"><%=translation.Boxicons%></a></li>
                        <li><a href="icons-materialdesign" key="t-material-design"><%=translation.Material_Design%></a></li>
                        <li><a href="icons-dripicons" key="t-dripicons"><%=translation.Dripicons%></a></li>
                        <li><a href="icons-fontawesome" key="t-font-awesome"><%=translation.Font_awesome%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-map"></i>
                        <span key="t-maps"><%=translation.Maps%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google" key="t-g-maps"><%=translation.Google_Maps%></a></li>
                        <li><a href="maps-vector" key="t-v-maps"><%=translation.Vector_Maps%></a></li>
                        <li><a href="maps-leaflet" key="t-l-maps"><%=translation.Leaflet_Maps%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span key="t-multi-level"><%=translation.Multi_Level%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1-1"><%=translation.Level_1_1%></a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2"><%=translation.Level_1_2%></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2-1"><%=translation.Level_2_1%></a></li>
                                <li><a href="javascript: void(0);" key="t-level-2-2"><%=translation.Level_2_2%></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->